@import "./../../scss/variables";

.musicNav {
  position: sticky;
  z-index: 10;
  width: 100%;
  padding: 30px;
  background: #191a20;
  &__logo {
  }
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
  }
  &__search {
    width: 200px;
    display: flex;
    align-items: center;
    gap: 15px;
    cursor: pointer;
    color: $color;
    border: 2px solid $color;
    border-radius: 60px;
    padding: 5px 10px;
    &-input {
      color: $color;
      width: 100%;
      &::placeholder {
        color: $color;
      }
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    gap: 30px;
  }

  &__list {
    display: flex;
    gap: 15px;
  }
  &__item {
    cursor: pointer;
    color: $color;
    font-size: 24px;
  }

  &__user {
    cursor: pointer;
    display: flex;
    margin-top: auto;
    align-items: center;
    gap: 10px;
    &-link {
      display: flex;
      align-items: center;
      gap: 10px;
    }
    &-avatar {
      width: 60px;
      height: 60px;
      border-radius: 100px;
      border: 3px solid $blue;
      object-fit: cover;
    }
    &-name {
      color: $color;
      font-size: 24px;
      font-weight: 600;
    }
    &-logout {
      width: 30px;
      height: 30px;
    }
  }
}

.active {
  cursor: pointer;
  color: $blue;
  font-size: 24px;
  font-weight: 600;
}
