@use "../../scss/variables" as *;

.login {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  &__form {
    border-radius: 30px;
    width: fit-content;
    padding: 20px;
    background: #191a20;
    display: flex;
    flex-direction: column;
    align-items: center;

    &-title {
      margin-bottom: 20px;
      font-size: 36px;
      font-weight: 600;
    }
    &-input {
      margin-bottom: 20px;
      width: 365px;
      height: 45px;
      background: #202128;
      padding: 0 20px;
      border-radius: 10px;
    }
    &-button {
      margin-bottom: 20px;
      cursor: pointer;
      width: 365px;
      height: 45px;
      background: $blue;
      color: $color;
      font-size: 18px;
      font-weight: 600;
      border-radius: 10px;
    }
    &-text {
      font-size: 16px;
      font-weight: 400;
      text-align: center;
    }
    &-link {
      cursor: pointer;
      color: $blue;
    }
  }
}
