@use "../../scss/variables" as *;
.trackPreview {
  cursor: pointer;
  &__img {
    width: 200px;
    height: 200px;
    border-radius: 30px;
    transition: 300ms;
  }
  &__name {
    font-size: 16px;
    font-weight: 600;
  }
  &__artist {
    font-size: 16px;
    font-weight: 600;
    color: $color-dark;
  }
  &:hover {
    .trackPreview__img {
      transform: translateY(-10px);
    }
  }
  &:not(:hover) {
    .trackPreview__img {
      filter: brightness(0.75);
    }
  }
}
